# Public folder (static assets - not to be pushed)
public/

# Dependencies
node_modules/

# Environment variables
.env

# Uploads folder
uploads/

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
